.social-icon {
    padding: 10px 5px;
    width: 30px;
}

.logo {
    cursor: pointer;
    max-width: 100px !important;
}

.menu-items .menu-item {
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 1rem !important;
    font-size: 1.3rem;
    color: #fff !important;
}

.menu-items .menu-item:hover, .menu-items .menu-item.current {
    color: #ccc !important;
}

@media (min-width: 992px) {
    .social-icon {
        width: 20px;
        padding: 10px 0;
    }

    .logo {
        max-width: 180px !important;
    }

    .menu-items .menu-item:nth-child(n+2) {
        border-left: solid 2px rgba(255, 255, 255, 1);
    }
}